version: '2'

jobs:
  build:
    docker:
      - image: circleci/python:3.9-stretch-browsers
    environment:
      REGISTRY: QUAY
      QUAY_URL: quay.io
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Setup Environment
          command: source setup_env.sh
      - run:
          name: Install Docker Compose
          command: sudo pip install docker-compose
      - run:
          name: Building Container Images
          command: ./build.sh
      - run:
          name: Generate Tests
          command: bash tests/generate_tests.sh
      - run:
          environment:
            DB: postgres
          name: Postgres Tests
          command: bash tests/test.sh
      - run:
          environment:
            DB: mysql
          name: MySQL Test
          command: bash tests/test.sh
      - deploy:
          command: |
              python .travis/deploy.py

workflows:
  version: 2
  build-and-deploy-workflow:
    jobs:
      - build:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/

  cron-workflow:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only: master
    jobs:
      - build:
          context: org-global

  rolling-workflow:
    jobs:
      - build:
          context: org-global
