version: '2'

jobs:
  build:
    docker:
      - image: circleci/python:3
    steps:
        - checkout
        - setup_remote_docker
        - run:
            name: Install Docker Compose
            command: sudo pip install docker-compose
        - run:
            name: Building Container Images
            command: ./build.sh
        - run:
            name: Generate Tests
            command: sh tests/generate_tests.sh
        - run:
            environment:
              DB: mysql
            name: Postgres Tests
            command: sh tests/test.sh
        - deploy:
            name: Build and push Images
            command: |
              if [ "${CIRCLE_BRANCH}" == "master" ];
                then sh. travis/deploy_dockerhub.sh
              fi
        - store_artifacts:
            path: docker-test.yaml
            
