version: '2'

jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
      docker_layer_caching: true
    environment:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: source setup_env.sh
      - run:
          name: Install Python dependencies
          command: pip install packaging
      - run:
          name: Building Container Images
          command: ./build.sh
      - run:
          name: Generate Tests
          command: bash tests/generate_tests.sh
      - run:
          environment:
            DB: postgres
          name: Postgres Tests
          command: bash tests/test.sh
      - run:
          environment:
            DB: mysql
          name: MySQL Test
          command: bash tests/test.sh
      - deploy:
          command: |
              python deploy.py

workflows:
  version: 2
  build-and-deploy-workflow:
    jobs:
      - build:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/

  cron-workflow:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only: main
    jobs:
      - build:
          context: org-global

  rolling-workflow:
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/
