version: '2'

defaults: &defaults
  

jobs:
  build:
    docker:
      - image: circleci/python:3
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Setup Environment
          command: source setup_env.sh
      - run:
          name: Install Docker Compose
          command: sudo pip install docker-compose
      - run:
          name: Building Container Images
          command: ./build.sh
      - run:
          name: Generate Tests
          command: bash tests/generate_tests.sh
      - run:
          environment:
            DB: postgres
          name: Postgres Tests
          command: bash tests/test.sh
      - run:
          environment:
            DB: mysql
          name: MySQL Test
          command: bash tests/test.sh
      - deploy:
          environment:
            REGISTRY: QUAY
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              bash .travis/deploy.sh
            fi

workflows:
  version: 2
  commit-workflow:
    jobs:
      - build

  scheduled-workflow:
    triggers:
      - schedule:
          cron: "@weekly"
          filters:
            branches:
              only: master
    jobs:
      - build:
          context: org-global
